@import '../../../css/variables/colors.scss';

.card {
	border: 1px solid $white;
	border-radius: 10px;
}

.sm {
	width: 50%;
}

.md {
	width: 70%;
}

.lg {
	width: 80%;
}

@media screen and (min-width: 600px) {
	.sm {
		width: 20%;
	}

	.md {
		width: 30%;
	}

	.lg {
		width: 80%;
	}
}
