@import '../../../../css/variables/fontSizes.scss';
@import '../../../../css/variables/colors.scss';

.field {
	display: grid;
	grid-template-columns: 3fr 0.1fr;
	align-items: center;
	width: 100%;
	gap: 10px;
	justify-content: space-between;

	&__container {
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: center;
		gap: 5px;

		&__label {
			font-size: $size-sm;
			font-weight: $text;
		}

		&__value {
			width: 100%;
			height: 40px;
			font-size: 1.7rem;
			border-radius: 10px;
			border: 0px;
			padding: 0px;
		}
	}
}
