@import '../../../../css/variables/fontSizes.scss';
@import '../../../../css/variables/colors.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 30%;

	.field {
		display: grid;
		grid-template-columns: 3fr 0.1fr;
		align-items: center;
		width: 100%;
		gap: 5px;
		justify-content: space-between;

		label {
			font-size: $size-sm;
			font-weight: $text;
		}

		&__container {
			display: grid;
			grid-template-columns: 1fr 3fr;
			align-items: center;
			gap: 5px;
		}

		.value {
			width: 100%;
			height: 40px;
			font-size: 1.7rem;
			border-radius: 10px;
			border: 0px;
			padding: 0px;
		}
	}
}
