.pokemonList {
	display: flex;
	flex-direction: column;

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;
		margin: 2rem 3rem;
		justify-content: center;
	}

  &__button {
    width: fit-content;
    align-self: center;
  }
}
