@import '../../css/variables/colors.scss';
@import '../../css/variables/fontSizes.scss';

.searchBar {
	display: flex;
	flex-direction: column;
	margin: 2rem 3rem;
	gap: 2rem;

	&__searchByType {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			color: $white;
			font-size: $size-lg;
			font-weight: $text;
			margin: 1rem;
		}

		&__pokemonTypes {
			display: flex;
			flex-direction: row;
			gap: 8px;
			width: 100%;
			overflow-x: scroll;
      list-style-type: none;
		}

		&__pokemonTypes::-webkit-scrollbar {
			width: 1em;
		}

		&__pokemonTypes::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}

		&__pokemonTypes::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			outline: 1px solid slategrey;
			border-radius: 10px;
		}
	}

	&__searchByName {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			color: $white;
			font-size: $size-lg;
			font-weight: $text;
			margin: 1rem;
		}
	}
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
	.searchBar {
		margin: 2rem 7rem;
	}
}
