@import '../../css/variables/colors.scss';
@import '../../css/variables/fontSizes.scss';

.searchBar {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 2rem 0px;

	&__searchByType {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;

		&__title {
			color: $white;
			font-size: $size-lg;
			font-weight: $text;
			margin-bottom: 1rem;
		}

		&__pokemonTypes {
			display: flex;
			flex-direction: row;
			gap: 8px;
			width: 100%;
			overflow-x: scroll;
			padding: 0.5rem;
		}
	}
}
