@import '../../css/variables/colors.scss';
@import '../../css/variables/fontSizes.scss';

.searchBar {
	display: flex;
	flex-direction: column;
	margin: 2rem 3rem;
  gap: 2rem;

	&__searchByType {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			color: $white;
			font-size: $size-lg;
			font-weight: $text;
			margin: 1rem;
		}

		&__pokemonTypes {
			display: flex;
			flex-direction: row;
			gap: 8px;
			width: 100%;
			overflow-x: scroll;
		}
	}

	&__searchByName {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			color: $white;
			font-size: $size-lg;
			font-weight: $text;
			margin: 1rem;
		}
	}
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  .searchBar {
    margin: 2rem 7rem;
  }
}
