@import '../../../css/variables/colors.scss';
@import '../../../css/variables/fontSizes.scss';

.home {
  display: flex;
  justify-content: center;
  width: 100%;

	.card__title {
		text-align: center;
		color: $white;
		font-size: $size-lg;
		font-weight: $text-bold;
		text-shadow: 2px 2px 4px $black;
	}
}

.home__card {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	&__pokemon {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		.pokemon__number {
			color: $white;
			font-size: $size-md;
			font-weight: $text-bold;
			text-shadow: 2px 2px 4px $black;
		}

		.pokemon__name {
			color: $white;
			font-size: $size-lg;
			font-weight: $text;
			text-transform: capitalize;
			text-shadow: 2px 2px 4px $black;
		}

		.card__badge {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
		}

		.pokemon__characteristics {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 3rem;
			color: $white;
			font-size: $size-sm;
			font-weight: $text;
			text-shadow: 2px 2px 4px $black;

			.characteristic {
				display: flex;
				flex-direction: column;
				align-items: center;

				.value {
					font-weight: $text-bold;
				}
			}
		}
	}
}

.card__image {
	width: 50%;
	height: 50%;
}

@media screen and (min-width: 600px) {
	.home__card {
		flex-direction: row;
    margin: 2rem;

		.card__pokemonName {
			width: 70%;
		}
	}

	.card__image {
		width: 30%;
		height: 30%;
	}
}
