@import './css/variables/colors.scss';

.App {
	background-color: $light-black;
	width: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
  z-index: 1;
  position: relative;

	&__main {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}


