@import '../../css/variables/fontSizes.scss';
@import '../../css/variables/colors.scss';

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;

	.label {
		font-size: $size-sm;
		font-weight: $text;
	}

	input {
    width: 100%;
    height: 40px;
    font-size: 1.7rem;
    border-radius: 10px;
    border: 0px;
    padding: 0px
	}

	&__spinner {
		width: 20px;
		height: 17px;
		border: 8px solid $light-gray;
		border-top: 8px solid $light-black;
		border-radius: 50%;
		animation: spinner 1.5s linear infinite;
	}
}

.labelInput {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
